.chatting_section {
  width: 100%;
  height: 400px;
  background-color: rgb(255, 221, 199);
  overflow: scroll;
  border-radius: 30px;
  padding: 7%;
}

.chatting_input_form {
  margin-top: 0px;
}

.chatting_input_input {
  border-radius: 30px;
}

.chatting_submit_button {
  border: none;
}

.message_div_all {
  margin-bottom: 13px;
}
