@font-face {
  font-family: "NPSfontBold";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2310@1.0/NPSfontBold.woff2")
    format("woff2");
  font-weight: 700;
  font-style: normal;
}

.finduser_box {
  font-family: "NPSfontBold";
  color: #2c2f30;
  align-items: center;
  margin-left: 0%;
}

.finduser_title {
  font-family: "NPSfontBold";
  color: #2c2f30;
  font-size: 40px;
  align-items: center;
  margin-right: 3%;
}

.finduser_textbox {
  font-family: "NPSfontBold";
  color: #2c2f30;
  font-size: 17px;
  display: flex;
  align-items: center;
  margin-bottom: 1%;
  margin-left: auto;
}

.finduser_text {
  font-family: "NPSfontBold";
  color: #2c2f30;
  font-size: 17px;
  display: flex;
  align-items: center;
  margin-left: 44%;
}

.finduser_input_box {
  margin-right: 6%;
}

.finduser_emailtitle {
  font-family: "NPSfontBold";
  color: #2c2f30;
  font-size: 40px;
  align-items: center;
  margin-top: 2%;
  margin-right: 2%;
}

.finduser_emailbox {
  font-family: "NPSfontBold";
  color: #2c2f30;
  font-size: 17px;
  display: flex;
  align-items: center;
  margin-bottom: 1%;
}

.finduser_emailtext {
  font-family: "NPSfontBold";
  color: #2c2f30;
  font-size: 17px;
  display: flex;
  align-items: center;
  margin-left: 45%;
}

.finduser_textInput {
  width: 320px;
  height: 50px;
  border-radius: 30px;
  margin-top: 10px;
  padding: 0px 20px;
  border: 3px solid #b9eeff;
  margin-left: 7%;
  position: relative;
}

.finduser_emailInput {
  width: 320px;
  height: 50px;
  border-radius: 30px;
  margin-top: 10px;
  padding: 0px 20px;
  border: 3px solid #b9eeff;

  position: relative;
}

.finduser_emailInput2 {
  width: 320px;
  height: 50px;
  border-radius: 30px;
  margin-top: 10px;
  padding: 0px 20px;
  border: 3px solid #b9eeff;

  position: relative;
  margin-right: 2%;
}

.textInput_check {
  width: 150px;
  height: 50px;
  border-radius: 30px;
  margin-top: 10px;
  padding: 0px 20px;
  border: 3px solid #b9eeff;
}

.visible {
  display: block;
  margin-right: 2%;
}
.hidden {
  display: none;
}
