.section_1 {
  max-width: 1040px;
  display: flex;
  flex-direction: column;
  padding: 60px 16px;
  width: 1024px;
  margin: 0 auto;
  color: #333;
  grid-gap: 50px;
  gap: 50px;
  position: relative;
}
.post_1 {
  display: flex;
  align-items: center;
  padding: 16px;
  margin-bottom: 36px;
  border-bottom: 3px solid #f2f2f2;
}

.post_1_title {
  margin-right: 8px;
  width: 28px;
  height: 28px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background: #75ddff;
  font-size: 16px;
  font-weight: 700;
  line-height: 19px;
  color: #fff;
}

.post_title {
  font-family: "NPSfontBold";
  color: #2c2f30;
  font-weight: 700;
  font-size: 27px;
  line-height: 40px;
  letter-spacing: -0.05em;
  margin: 0;
}

@font-face {
  font-family: "NPSfontBold";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2310@1.0/NPSfontBold.woff2")
    format("woff2");
  font-weight: 700;
  font-style: normal;
}

.title {
  font-family: "NPSfontBold";
  color: #2c2f30;
}

.post_form {
  margin-top: 40px;
  display: flex;
  grid-gap: 15px;
  gap: 15px;
  list-style: none;
}
*/ .post_form_box {
  flex: 1 1;
}

.box_label {
  display: inline-block;
  margin-bottom: 5px;
  color: #333;
  font-weight: 500;
}

.box_span {
  z-index: 9999;
  border: 0px;
  clip: rect(1px, 1px, 1px, 1px);
  height: 1px;
  width: 1px;
  position: absolute;
  overflow: hidden;
  padding: 0px;
  white-space: nowrap;
}

.dropdown_1 {
  margin-top: 40px;
  display: flex;
  grid-gap: 15px;
  gap: 15px;
  list-style: none;
}

.dropdown_2 {
  flex: 1 1;
}

.dropdown-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.postToggle {
  display: flex;
  width: 140px;
  height: 50px;
  grid-gap: 6px;
  gap: 6px;
  align-items: center;
  border: 1px solid #d0d0d0;
  border-radius: 100px;
  padding: 6px 12px 6px 7px;
  transition: all 0.1s ease-in;
  cursor: pointer;
  text-align: center;
}

.postToggle:hover {
  background-color: #ffffb5;
  cursor: pointer;
}

.postToggle_text {
  color: #333;
  font-size: 20px;
  font-family: "SejonghospitalBold", sans-serif;
  align-items: center;
  text-align: center;
  display: inline-block;
  margin-left: 12px;
}

.postToggle_ul {
  display: flex;
  flex-wrap: wrap;
  grid-gap: 30px;
  gap: 30px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.postToggle.clicked {
  background-color: #ffffb5;
}

.all_form {
  margin-top: 30px;
}

.post_3_label {
  font-size: 18px;
  font-family: "SejonghospitalBold", sans-serif;
  display: flex;
  text-align: center;
  align-items: center;
  flex-direction: row;
  flex-basis: 100%;
}

.post_4_label {
  font-size: 18px;
  font-family: "SejonghospitalBold", sans-serif;
  display: flex;
  text-align: center;
  align-items: center;
  flex-direction: row;
  flex-basis: 100%;
  padding-right: 20px;
  display: flex;
  flex-direction: row; /* 라벨과 입력 요소를 가로로 나란히 정렬합니다. */
  align-items: center;
  margin-bottom: 10px;
  float: left;
  padding-right: 117px;
}

.all_form input {
  width: 200px;
  height: 50px;
  border-radius: 30px;
  margin-top: 10px;
  margin-left: 10px;
  padding: 10px 20px;
  border: 3px solid #b9eeff;
  box-sizing: border-box;
}

.all_form label {
  display: flex;
  flex-direction: row; /* 라벨과 입력 요소를 가로로 나란히 정렬합니다. */
  align-items: center;
  margin-bottom: 10px;
  float: left;
  padding-right: 100px;
}

.all_form select {
  width: 200px;
  height: 50px;
  border-radius: 30px;
  margin-top: 10px;
  margin-left: 10px;
  padding: 10px 20px;
  border: 3px solid #b9eeff;
  box-sizing: border-box;
}

.studyProject_title {
  width: 100%;
  margin: 0 auto;
  margin-bottom: 4rem;
}

.studyProject_content {
  width: 100%;
  margin: 0 auto;
  margin-bottom: 4rem;
}

.editor {
  height: 500px !important;
  border: 1px solid #f1f1f1 !important;
  padding: 5px !important;
  border-radius: 2px !important;
}

.titleLabel {
  font-family: "NPSfontBold";
  color: #2c2f30;
  font-size: 23px;
}

.titleLabel input {
  width: 900px;
  height: 50px;
  border-radius: 30px;
  margin-top: 10px;
  margin-left: 10px;
  padding: 10px 20px;
  border: 3px solid #b9eeff;
  box-sizing: border-box;
}

.contentLabel {
  font-family: "SUITE-Regular";
  color: #2c2f30;
  font-size: 16px;
}

.contentLabel textarea {
  width: 1000px;
  height: 500px;
  border-radius: 30px;
  margin-top: 10px;
  margin-left: 10px;
  padding: 10px 20px;
  border: 3px solid #b9eeff;
  box-sizing: border-box;
  text-align: left;
  align-items: flex-start;
}

#modalCloseBtn {
  position: fixed;
  top: 15px;
  right: 15px;
  border: none;
  color: rgba(0, 0, 0, 0.7);
  background-color: transparent;
  font-size: 20px;
}

.cafe_p:hover {
  color: #75ddff;
  cursor: pointer;
}

.cafeModal input {
  width: 300px;
}

.stack_box {
  font-size: 18px;
  font-family: "SejonghospitalBold", sans-serif;
  display: flex;
  flex-direction: row; /* 기존의 기술스택이 가로로 나열되도록 변경 */

  width: 800px;
}

.tech-stack-item {
  font-size: 18px;
  font-family: "SejonghospitalBold", sans-serif;
  color: #313131;
  font-size: 13px;
  font-weight: 500;
}

.selected {
  height: 30px;
  grid-gap: 10px;
  gap: 10px;
}

.delete_img {
  width: 20px;
  height: 20px;
}
.selected_2 {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  grid-gap: 30px;
  gap: 10px;
  background: #f2f2f2;
}

.buttonComplete {
  height: 60px;
  width: 250px;
  background: #8ee3ff;
  border-radius: 50px;
  font-weight: 700;
  color: #525252;
  font-size: 20px;
  font-family: "SUITE-Regular";
  padding: 0 20px;
  border: 0px;
}
