/* modal창 외부화면 */
.Modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

/* modal창 */
.modalBody {
  position: absolute;
  width: 460px;
  height: 500px;
  padding: 40px;
  text-align: center;
  background-color: #b9eeff;
  border-radius: 10px;
  box-shadow: 0 2px 3px 0 rgba(34, 36, 38, 0.15);
}

#modalCloseBtn {
  position: absolute;
  top: 15px;
  right: 15px;
  border: none;
  color: rgba(0, 0, 0, 0.7);
  background-color: transparent;
  font-size: 20px;
}

#modalCloseBtn:hover {
  cursor: pointer;
}

.swith_detail {
  text-align: left;
}

@font-face {
  font-family: "NPSfontBold";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2310@1.0/NPSfontBold.woff2")
    format("woff2");
  font-weight: 700;
  font-style: normal;
}

.swith_title {
  font-family: "NPSfontBold";
}

.alarm_date {
  font-size: 15px;
  font-family: "NPSfontBold";
  width: 135px;
}

.alarm_message {
  font-size: 16px;
  font-family: "SUITE-Regular";
  width: 300px;
}
