.studyDetail_wrapper {
  max-width: 900px;
  width: 100%;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  padding: 1.5rem 1.5rem 5rem;
}

.postHeader {
  display: flex;
  flex-direction: column;
  margin-top: 3rem;
}

.studyContent_title {
  margin-top: 40px;
  font-weight: 800;
  font-size: 36px;
  line-height: 126.5%;
  letter-spacing: -0.005em;
  color: #000;
  font-family: "SejonghospitalBold", sans-serif;
  color: #2c2f30;
  font-size: 35px;
  text-align: left;
}

@font-face {
  font-family: "SejonghospitalBold";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2312-1@1.1/SejonghospitalBold.woff2")
    format("woff2");
  font-weight: 700;
  font-style: normal;
}

.studyContent_user_date {
  margin-top: 32px;
  padding-bottom: 32px;
  border-bottom: 3px solid #f2f2f2;
  display: flex;
  grid-gap: 15px;
  gap: 15px;
  align-items: center;
}

.studyContent_user {
  display: flex;
  align-items: center;
  position: relative;
  transition: -webkit-transform 0.2s ease-in-out;
  transition: transform 0.2s ease-in-out;
  transition: transform 0.2s ease-in-out, -webkit-transform 0.2s ease-in-out;
}

.user_img {
  cursor: pointer;
  display: block;
  height: 3rem;
  width: 3rem;
  margin-right: 8px;
  border-radius: 50%;
  object-fit: cover;
}

.username {
  color: #333;
  cursor: pointer;
  font-size: 18px;
  font-weight: 700;
  font-family: "SejonghospitalBold", sans-serif;
}

.studyContent_seperator {
  width: 2px;
  height: 20px;
  background-color: #e2e2e2;
}
.studyContent_registerDate {
  font-size: 18px;
  color: #717171;
  font-family: "SejonghospitalBold", sans-serif;
}

.studyContent_grid {
  display: grid;
  grid-template-columns: repeat(2, 3fr);
  grid-row-gap: 24px;
  row-gap: 24px;
  margin-top: 60px;
}

.studyContent_contentWrapper {
  display: flex;
  position: relative;
  align-items: center;
  font-weight: 700;
  font-size: 20px;
}

.studyInfo_title {
  color: #717171;
  margin-right: 36px;
  font-family: "SejonghospitalBold", sans-serif;
}

.studyInfo_title_a {
  color: #333;
  font-family: "SejonghospitalBold", sans-serif;
}

.postContent_wrapper {
  margin-top: 132px;
  font-size: 1.125rem;
  word-break: break-all;
  line-height: 1.7;
  letter-spacing: -0.004em;
}

.postInfo {
  margin: 0;
  color: #333;
  font-size: 30px;
  font-weight: 700;
  padding-bottom: 24px;
  border-bottom: 3px solid #f2f2f2;
  font-family: "SejonghospitalBold", sans-serif;
  display: flex;
}

@font-face {
  font-family: "SUITE-Regular";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2304-2@1.0/SUITE-Regular.woff2")
    format("woff2");
  font-weight: 400;
  font-style: normal;
}

.postContent {
  width: 100%;
  margin: 40px auto 0;
  display: flex;
  font-family: "SUITE-Regular";
  text-align: left;
}

.commentInput {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 100px;
}

.commentInput_comment {
  margin-bottom: 15px;
  width: 100%;
  display: flex;
  font-family: "SUITE-Regular";
  text-align: left;
  flex-direction: column;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  border-bottom: 2px solid #e1e1e1;
}

.commentItem_avatarWrapper {
  display: flex;
  align-items: center;
  margin-bottom: 18px;
}

.commentInput_count {
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  color: #939393;
  margin-left: 50px;
}

.commentInput_container {
  display: flex;
  grid-gap: 15px;
  gap: 15px;
}

.commentInput_profile {
  display: block;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  margin-right: 16px;
  object-fit: cover;
}

.commentInput_commentText {
  width: 100%;
  height: 100px;
  padding: 10px;
  border: 1px solid #939393;
  border-radius: 4px;
  font-family: "SUITE-Regular";
  font-size: 16px;
}

.commentInput_buttonWrapper {
  display: flex;
  justify-content: flex-end;
  margin: 16px 0 24px;
}

.commentInput_buttonComplete {
  height: 40px;
  background: #8ee3ff;
  border-radius: 50px;
  font-weight: 700;
  color: #525252;
  font-size: 16px;
  font-family: "SUITE-Regular";
  padding: 0 20px;
  border: 0px;
}

.commentInput_buttonComplete_done {
  height: 40px;
  background: #ff7057;
  border-radius: 50px;
  font-weight: 700;
  color: #525252;
  font-size: 16px;
  font-family: "SUITE-Regular";
  padding: 0 20px;
  border: 0px;
}

.commentDelete_buttonComplete {
  height: 20px;
  background: #8ee3ff;
  border-radius: 50px;
  color: #525252;
  font-size: 13px;
  font-family: "SUITE-Regular";
  padding: 0 20px;
  border: 0px;
  text-align: right;
  margin-left: 550px;
}

.commentDelete_buttonComplete_list {
  height: 20px;
  background: #8ee3ff;
  border-radius: 50px;
  color: #525252;
  font-size: 13px;
  font-family: "SUITE-Regular";
  padding: 0 20px;
  border: 0px;
  text-align: right;
  margin-left: 400px;
}

.commentDelete_buttonComplete_list2 {
  height: 20px;
  background: #8ee3ff;
  border-radius: 50px;
  color: #525252;
  font-size: 13px;
  font-family: "SUITE-Regular";
  padding: 0 20px;
  border: 0px;
  text-align: right;
  margin-left: 10px;
}

.commentItem_CommentList {
  display: flex;
  justify-content: space-between;
}

.commentItem_userNickname {
  color: #333;
  font-family: "SUITE-Regular";
  font-weight: 700;
}

.commentItem_userNickname_list {
  color: #333;
  font-family: "SUITE-Regular";
  font-weight: 700;
  width: 100px;
}

.commentItem_registeredDate {
  font-size: 14px;
  line-height: 126.5%;
  letter-spacing: -0.005em;
  color: #9f9f9f;
}

.commentItem_userImg {
  display: block;
  width: 52px;
  height: 52px;
  margin-right: 16px;
  border-radius: 50%;
  object-fit: cover;
}

.commentInput_comment_Header {
  display: flex;
}

.commentList_CommentList {
  width: 100%;
}

.comment_list_box {
  margin-left: 37px;
}

.studyApplication {
  border: 1px solid #ccc; /* 테두리 선 스타일 및 색상 */
  border-radius: 5px; /* 테두리 선의 모서리를 둥글게 만듦 */
  padding: 10px; /* 내부 여백 */
  width: 250px; /* 가로 너비 */
  height: 300px; /* 세로 높이 */
  background-color: #ffffb5; /* 배경색 */
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1); /* 그림자 효과 */
  overflow: auto; /* 내용이 넘칠 경우 스크롤 생성 */
  margin-left: 40px;
}

.studyApplication_title {
  margin-top: 10px;
  font-family: "SejonghospitalBold", sans-serif;
  font-size: 18px;
}

.studyApplaction_user {
  width: 200px;
}
.studyApplaction_user_content {
  margin-bottom: 10px; /* Adjust the margin as needed */
}

.studyApplaction_user_p {
  display: flex;
  font-family: "SUITE-Regular";
  font-size: 18px;
  text-align: left;
  margin-left: 40px;
  align-items: center; /* 세로 정렬 */
  margin-top: 4px;
  justify-content: space-between;
}
.studyApplication button {
  border: none; /* 테두리 제거 */
  background-color: transparent; /* 배경색 제거 */
  padding: 0; /* 내부 여백 제거 */
  cursor: pointer; /* 커서 스타일 설정 (선택 사항) */
  display: inline-block;
}

.accept_img {
  display: flex;
  width: 23px;
  height: 23px;
  margin-left: 20px;
  margin-top: 5px;
}

.reject_img {
  display: flex;
  width: 18px;
  height: 18px;
  margin-left: 10px;
  margin-right: 30px;
  margin-bottom: 2px;
}

.register_swithButton {
  text-align: right;
  display: inline-block;
  margin-left: auto;
}

.application_totalWrapper {
  position: relative;
}

.application_totalWrapper_2 {
  position: absolute;
  left: 100%;
}

.application_totalWrapper_3 {
  display: flex;
  margin-left: 2rem;
  position: fixed;
  top: 350px;
}
