@font-face {
  font-family: "SejonghospitalBold";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2312-1@1.1/SejonghospitalBold.woff2")
    format("woff2");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "SUITE-Regular";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2304-2@1.0/SUITE-Regular.woff2")
    format("woff2");
  font-weight: 400;
  font-style: normal;
}

.notice {
  font-size: 45px;
  font-family: "SejonghospitalBold";
}

.notice_gap {
  margin-left: 5%;
}

.notice_modal_title {
  font-family: "SUITE-Regular";
  font-size: 30px;
}

.notice_modal_content {
  font-family: "SUITE-Regular";
  font-size: 30px;
}

.notice_modal_password {
  width: 150px;
  height: 50px;
}

.notice_title_textInput {
  width: 450px;
}

.notice_content_textInput {
  width: 450px;
  height: 200px;
}

.notice_title_password {
  font-family: "SUITE-Regular";
  font-size: 15px;
}

.notice_btn {
  height: 30px;
  width: 90px;
  background: #fffbb5;
  border-radius: 50px;
  font-weight: 700;
  color: #525252;
  font-size: 14px;
  font-family: "SUITE-Regular";
  padding: 0 20px;
  border: 0px;
  margin-right: 28%;
}
.notice_btn:hover {
  background-color: rgb(249, 239, 130);
}

.notice_part {
  width: 60%;
}
.notice_box_section {
  max-height: 350px; /* 스크롤이 보이기 전에 최대 높이 설정 */
  width: 55%;
  overflow-y: auto; /* Y축 스크롤 활성화 */
  margin-left: 20%;
  margin-right: 30%; /* 기본 패딩 제거 */
  list-style: none; /* 기본 리스트 스타일 제거 */
}

.notice_list {
  margin-bottom: 20px; /* 각 항목 간격 설정 */
  border: 7px solid #fffbb5;
  background-color: #fffbb5;
  border-radius: 30px;
  padding: 10px; /* 내부 패딩 설정 */
  width: 95%;
  height: 350px;
  margin-left: 3%;
  margin-right: 3%;
}
.notice_title {
  font-size: 30px;
  font-family: "SUITE-Regular";
  color: #333;
  font-weight: bolder;
  margin-top: 2%;
}
.notice_writer_info {
  font-size: 12px;
  display: flex;
}
.notice_content {
  font-family: "SUITE-Regular";
  font-size: 17px;
  margin-left: 5%;
  margin-right: 5px;
  margin-top: 2%;
}
.notice_delete {
  padding-bottom: 10px;
  margin-top: 2%;
  border: none;
  float: right;
  margin-left: 60%;
  display: flex;
}
.notice_x_button {
  color: #000000;
  border: none;
  font-size: 12px;
  font-weight: bolder;
  background-color: #b9eeff;
  float: right;
  width: 40px;
  height: 23px;
  margin-left: 3px;
  margin-top: 4px;
}
.notice_password_input {
  width: 120px;
  height: 20px;
}

.Modal_btn {
  margin-left: 7%;
  margin-right: 20%;
}

.studyRoom_skills {
  margin-left: 70%;
}

.DayCount {
  font-size: 40px;
  color: #03a3ff;
  margin-left: 30px;
  font-family: "SejonghospitalBold", sans-serif;
}

.DayCount_div_all {
  margin-top: 60px;
  margin-bottom: 5%;
}

.DayCount_startDay {
  font-size: 23px;
  color: #717171;

  font-family: "SejonghospitalBold", sans-serif;
}

.writer_info_p {
  width: 40%;
  margin-top: 2%;
  font-family: "SUITE-Regular";
  font-size: 17px;
  color: #333;
  font-weight: bolder;
  float: left;
}

.notice_p {
  font-family: "SUITE-Regular";
  font-size: 17px;
  margin-left: 3%;
  margin-top: 1%;
  margin-right: 15px;
}

.studyInfo_skills {
  display: flex;
}

.skills_studyInfo_title {
  font-size: 22px;
  color: #717171;
  font-family: "SejonghospitalBold", sans-serif;
}
