@font-face {
  font-family: "SUITE-Regular";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2304-2@1.0/SUITE-Regular.woff2")
    format("woff2");
  font-weight: 400;
  font-style: normal;
}
.StudyRoomTitle {
  font-size: 50px;
  font-family: "SejonghospitalBold", sans-serif;
}

.room_title_button {
  width: 75px;
  height: 50px;
  border: none;
  font-size: 17px;
  font-weight: bolder;
  background-color: #b9eeff;
  font-family: "SUITE-Regular";
  border-radius: 30px;
}

.StudyRoomTitle_first_button {
  margin-left: 61%;
  width: 75px;
  height: 30px;
  border: none;
  font-size: 17px;
  font-weight: bolder;
  background-color: #b9eeff;
  font-family: "SUITE-Regular";
  border-radius: 30px;
}

.room_title_input {
  border-radius: 30px;
  font-family: "SUITE-Regular";
  font-size: 17px;
}
