<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
<meta charset="EUC-KR">

<title>index</title>
</head>
<body>
	<h2>index</h2>
	<div>
		<a href="/users/register">회원가입</a>
		<a href="/users/login">로그인</a>

	</div>
	
	<div>
		<a sec:authorize="isAuthenticated()" href="/users/logout">LogOut</a>
		<div th:if="${#authorization.expression('isAuthenticated()')}">
			<p th:text="'안녕하세요'"></p>
	<br>
		<div sec:if>
			<a sec:authorize ="hasRole('ROLE_ADMIN')" href="">관리자 페이지로</a>
		</div>
			
		</div>
	</div>
	

</body>
</html>